
{{# partial "titulo" }}
    <title>{{#if unread}}({{unread}}) {{/if}}Mensajes</title>
{{/partial}}

{{# partial "contenido"}}
    <div class="container">
        <div class="row">
            <div class="col-md-auto" style="margin-bottom: 2em;">
                <h2 class="text-primary" style="padding-left: 45%;">Mensajes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title">{{unread}} sin leer de {{cantidad}} mensajes</h3>
                    </div>

                    <div class="panel-body">
                        <div class="list-group">
                            {{#mensajes}}
                            <a href="/mensajes/leer/{{id}}" class="list-group-item {{#unless leido}}list-group-item-info{{/unless}}">
                                {{detalle}}
                            </a>
                            {{/mensajes}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.html.hbs}}