
{{# partial "titulo" }}
    <title>Operaciones</title>
{{/partial}}

{{# partial "contenido"}}
    <div class="container">
        <div class="row">
            <div class="col-md-auto" style="margin-bottom: 2em;">
                <h2 class="text-primary" style="padding-left: 45%;">Operaciones</h2>
                <a href="/operaciones/{{operacion.id}}/presupuesto" class="btn btn-default">Nuevo presupuesto</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <th> #</th>
                            <th> Proveedor</th>
                            <th> Total</th>
                            <th> Documento Comercial</th>
                            <th> Detalle</th>
                            <th> Presupuestos</th>
                            </thead>
                            <tbody>
                            {{#seleccionado}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{provedor.razonSocial}}</td>
                                    <td>{{total.moneda.simbolo}} {{total.monto}}</td>
                                    <td>{{documentoComercial}}</td>
                                    <td><a href="/operaciones/{{operacion.id}}/presupuestos/{{id}}/detalle" class="btn btn-default">Ver</a></td>
                                    <td><a href="/operaciones/{{operacion.id}}/presupuestos/{{id}}/seleccionar" class="btn btn-success" disabled>Seleccionado</a></td>
                                </tr>
                            {{/seleccionado}}
                            {{#presupuestos}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{provedor.razonSocial}}</td>
                                    <td>{{total.moneda.simbolo}} {{total.monto}}</td>
                                    <td>{{documentoComercial}}</td>
                                    <td><a href="/operaciones/{{operacion.id}}/presupuestos/{{id}}/detalle" class="btn btn-default">Ver</a></td>
                                    <td><a href="/operaciones/{{operacion.id}}/presupuestos/{{id}}/seleccionar" class="btn btn-default">Seleccionar</a></td>
                                </tr>
                            {{/presupuestos}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.html.hbs}}